doctype html
html
	head
		title title
		link(rel="stylesheet" href="/bootstrap-css/css/bootstrap.css")
		link(rel="stylesheet" href="/stylesheets/master.css")
	body
		block content
		footer Antonio Narkevich © 2014, Minsk