extends ../layout

block head
	link(rel="stylesheet", href="/stylesheets/student.css")

block head-line
	| All the students

block content
	div.students
		each student in students
			div.student-info
				span.student-name #{student.name}
				a.btn.btn-default.pull-right(href="/student/#{student.id}") Details

	a.create-new-button.btn.btn-primary(href="/student/new") Create New