doctype html
html(lang="en")
	head
		title Merkle Website Crawling
	link(rel="stylesheet", type="text/css", href="css/styles.css")
	body
		each val, index in locals
			div.ws-page-view-box
				a(href="#{val}")
					span.ws-link-url [#{index}] #{val}
				img.ws-screenshot(src="screenshots/#{index}.png")
