doctype html
head
	title Https form test
body
	form(action="https://localhost:444/", method="POST")
		label(for="username-input") Username:
		input#username-input(type="text", name="username")
		label(for="password-input") Password:
		input#password-input(type="password", name="password")
		input(type="submit" value="Ok")